.item_card_container_detail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}
.mycard {
    border: 2px solid black;
    margin: auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 45px 0px black;
    transition: all 1s ease-in-out;
}

.mycard:hover {
    background-color: var(--colorFondo);
    transform: scale(1.1);
}
.card_detail {
    max-width: 80vw;
    min-width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.card_button_detail {
    display: flex;
    margin: auto;
    padding: 10px;
    font-weight: 900;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.card_button_detail:hover {
    background-color: rgb(103, 220, 64);
    transition: all 0.5s ease-in-out;
}

.card_detail_img {
    width: auto;
    height: auto;
    border-radius: 10px;
}

.card_detail_title {
    font-size: 2rem;
}

.card_detail_quantity {
    font-size: 2rem;
    margin: 2rem;
}

.card_detail_description {
    font-size: 2rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 200px) and (max-width: 900px) {
    .card_button_detail {
        display: flex;
        margin: auto;
        padding: 10px;
        font-weight: 900;
        border-radius: 10px;
        border: none;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }

    .card_detail_img {
        width: 30vw;
        height: 30vh;
    }

    .card_detail_title {
        font-size: 1.5rem;
    }

    .card_detail_quantity {
        font-size: 1.5rem;
        margin: 1rem;
    }

    .card_detail_description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}
